<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>{{ title }}</title>
</head>

<body>
  <div class="container-fluid h-100">
      <div class="row h-100">
          <aside class="col-12 col-md-2 p-0 bg-green">
              <nav class="navbar navbar-expand navbar-dark bg-green flex-md-column flex-row align-items-start py-2">
                  <div class="collapse navbar-collapse">
                      <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap active brand-fs" href="#"><span class="font-weight-bold">SHA TRAINING</span></a>
                        </li>
                        {% for item in nav.side %}
                          <li class="nav-item">
                              <a class="nav-link pl-0 text-nowrap text-white menu-fs {{ 'active' if item.is_active else ''}}" href="{{ item.url }}"><span class="font-weight-bold">{{item.label}}</span></a>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
              </nav>
          </aside>

    <main class="col bg-faded py-3">
    {% block content %}
    {% endblock %}
    </main>

    {% block scripts %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    {% endblock %}
</div>
</div>
</body>
</html>
