{% extends 'layout.html' %}
{% block content %}
    <a href="{{ url_for('admin.create_course') }}" class="btn btn-info mb-3"><i class="fa fa-plus-square"></i> Add
        Course</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Modified</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.author_name }}</td>
                <td>{{ course.modified }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_course', course_id=course.course_id) }}" class="btn btn-info"><i
                            class="fa fa-pencil"></i> Edit</a>
                    <a href="{{ url_for('admin.delete_course', course_id=course.course_id) }}" class="btn btn-danger"><i
                            class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
