{% extends 'layout.html' %}
{% block content %}
    <a href="{{ url_for('admin.create_module') }}" class="btn btn-info mb-3"><i class="fa fa-plus-square"></i> Add
        Module</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        <tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td scope="row">{{ module.module_id }}</td>
                <td>{{ module.title }}</td>
                <td>{{ module.description }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_module', module_id=module.module_id) }}" class="btn btn-success"><i
                            class="fa fa-pencil"></i> Edit</a>
                    <a href="{{ url_for('admin.delete_module', module_id=module.module_id) }}" class="btn btn-danger"><i
                            class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}