/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.5px;
}

.table thead tr td {
  color: #004851;
  font-weight: bold;
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bg-green {
  background-color: #004851;
}

.active {
  color: #d2d755!important;
}

body, html {
    height: 100%;
    background-color: #fff;
}

.brand-fs {
  font-size: 40px;
}

.menu-fs {
  font-size: 20px;
}

.pt-20 {
  padding-top: 20%;
}

.card.ml-3 {
  position: relative;
}

.card-title {
  text-transform: uppercase;
}

.card-footer {
  border-top: none;
}
