/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

.bg-green {
  background-color: #004851;
}

.active {
  color: #d2d755!important;
}

body, html {
    height: 100%;
}

.brand-fs {
  font-size: 40px;
}

.menu-fs {
  font-size: 20px;
}

.pt-20 {
  padding-top: 20%;
}
