{% extends 'layout.html' %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h2>Welcome {{ current_user.username }}</h2>
    {% endif %}
    <table class="table">
      <thead>
        <th scope="col">Title</th>
        <th scope="col">Enrolled On</th>
        <th scope="col">Progress</th>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>
              blank
            </td>
            <td>{{ course.enrol_date }}</td>
            <td>{{ course.progress }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="table">
      <thead>
        <th scope="col">Title</th>
        <th scope="col">Achieved</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        {% for course in completed_courses %}
          <tr>
            <td>
              {{ course.title }}
            </td>
            <td>{{ course.achieved }}</td>
            <td>
              <a href="{{ url_for('user.certificate', course_id=course.id) }}" class="btn btn-success"><i class="fa fa-arrow-circle-down"></i> Download</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
